<section
  class="text-gray-700 body-font overflow-hidden bg-white"
  *ngIf="product !== null; else loadingCardDetail"
>
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
        [src]="product.images[0]"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Nombre</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ product.title }}
        </h1>
        <p class="leading-relaxed">
          {{ product.description }}
        </p>

        <div class="flex mt-8">
          <span class="title-font font-medium text-2xl text-gray-900"
            >${{ product.price }}</span
          >
          <button
            *ngIf="productInCart; else productNotCar"
            class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
            (click)="removeToCar()"
          >
            Quitar
          </button>
          <ng-template #productNotCar>
            <button
              class="flex ml-auto text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded"
              (click)="addProductToCart()"
            >
              Agregar
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- component -->
<ng-template #loadingCardDetail>
  <app-loading></app-loading>
</ng-template>
